---
import { TypingAnimationComponent } from "@/components/TypeAnimation/TypeAnimation";
---

<section class="p-4 w-full bg-green-800 text-white min-h-[90px] md:min-h-max">
  <div
    class="max-w-7xl text-xl text-white/90 text-center mx-auto font-semibold"
  >
    <span>
      <TypingAnimationComponent
        client:load
        substring="⚾ Here at Florida Hunters Academy we offer"
      />
    </span>
  </div>
</section>
