---
import HoursBanner from "./HoursBanner.astro";
import { ContactForm } from "@/components/ContactForm/ContactForm";
---

<section class="w-full text-black relative bg-transparent z-0">
  <div
    class="w-full h-full absolute left-0 -z-10 top-0 bg-[url('/baseball-texture.webp')] bg-[length:180px_180px] opacity-15"
  >
  </div>
  <div
    class="wrapper p-6 lg:px-0 bg-transparent max-w-7xl mx-auto flex flex-col gap-x-10 md:grid grid-cols-3 md:py-12 z-10"
  >
    <div class="extract col-span-3 lg:col-span-2 flex flex-col md:flex-row gap-10 mb-4 items-center md:items-start">
      <img
        src="/logo.webp"
        alt="florida hunters logo"
        class="max-w-60 lg:max-w-[300px] h-auto  md:block"
      />
      <div class="grow flex flex-col gap-4 p-2">
        <h2 class="text-3xl font-semibold py-2 border-b-2 border-b-gray-500">
          Florida Hunters Academy.
        </h2>
        <p class="text-lg text-black/70">
          Unleash the future stars of the diamond at our premier baseball
          academy. Join us today and watch your child's skills soar to new
          heights. Play, learn, and have a blast with our expert coaches and
          state-of-the-art facilities. Together, we'll build a strong foundation
          for a lifelong love of the game. Swing for the fences and be part of
          our winning team!
        </p>
      </div>
    </div>
    <div class="col-span-3 lg:col-span-1">
      <ContactForm client:load />
    </div>
  </div>
</section>
