---
import HoursBanner from "./HoursBanner.astro";
---

<section class="w-full text-black relative">
  <div class="w-full h-full absolute left-0 top-0 bg-[url('/baseball-texture.webp')] bg-[length:180px_180px] opacity-15" ></div>
  <div class="wrapper max-w-6xl mx-auto flex flex-col md:grid grid-cols-3 py-12">
    <div class="extract md:col-span-2 flex flex-row gap-10">
      <img
        src="/logo.webp"
        alt="florida hunters logo"
        class="aspect-square max-w-[300px]"
      />
      <div class="grow flex flex-col gap-4">
        <h2 class="text-3xl font-semibold py-2 border-b-2 border-b-gray-500">Florida Hunters Academy.</h2>
        <p class="text-lg text-black/70">
          Unleash the future stars of the diamond at our premier baseball
          academy. Join us today and watch your child's skills soar to new
          heights. Play, learn, and have a blast with our expert coaches and
          state-of-the-art facilities. Together, we'll build a strong foundation
          for a lifelong love of the game. Swing for the fences and be part of
          our winning team!
        </p>
      </div>
    </div>
    <div class="md:col-span-3">
      
    </div>
  </div>
</section>
