---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import '@/styles/globals.css';
import {Button} from '@/components/ui/button';
---

<Layout title="Welcome to Astro.">
			<Button>
				hello world
			</Button>
			<h1 class="text-5xl">Astro</h1>
</Layout>

