---
import { Footer } from "@/components/Footer/Footer";
import { Header } from "@/components/Header/Header";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative flex flex-col scroll-smooth" id="root">
		<Header client:load />
		<slot />
		<Footer
			client:load
			description="Unleash the future stars of the diamond at our premier baseball academy. Join us today and watch your child's skills soar to new heights. Play, learn, and have a blast with our expert coaches and state-of-the-art facilities. Together, we'll build a strong foundation for a lifelong love of the game. Swing for the fences and be part of our winning team!"
			socialLinks={[
				{ links: "https://wa.me/message/CK4DXARS74BFG1" },
				{ links: "https://www.instagram.com/hunters.bba" },
			]}
		/>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
		color-scheme: dark light;
	}
</style>
